In [158]:
# import Dependencies
import pandas as pd

In [179]:
#Reference the file where csv is located
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)
school_data.head(10)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500
5          5     Wilson High School   Charter  2283  1319574
6          6    Cabrera High School   Charter  1858  1081356
7          7     Bailey High School  District  4976  3124928
8          8     Holden High School   Charter   427   248087
9          9       Pena High School   Charter   962   585858

In [181]:
Average_budget = school_data_df["budget"].sum()
Average_budget

24649428

In [160]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [161]:
student_data["math_score"].count()

39170

In [210]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [163]:
total_students = student_data["student_name"].count()
total_students

39170

In [164]:
average_reading_score  =school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [165]:
average_math_score  =school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [166]:
School_complete_rename_df = school_data_complete_df.rename(columns={"school_name":"school name", "student_name":"student name", "reading_score":"reading score", "math_score":"math score", "budget":"budget"})
School_complete_rename_df.head()

,Student ID,student name,gender,grade,school name,reading score,math score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [167]:
combined_math_score_df = school_data_complete_df.loc[(school_data_complete_df["math_score"]>=70)]
combined_math_score_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [191]:
maths_df = combined_math_score_df["math_score"].count()
maths_df

29370

In [169]:
combined_reading_score_df = school_data_complete_df.loc[(school_data_complete_df["reading_score"]>= 70)]
combined_reading_score_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [193]:
reading_pass_df = combined_reading_score_df["reading_score"].count()
reading_pass_df

33610

In [171]:
avg_combined_math_reading_df = combined_math_reading_df["math_score"].mean()
avg_combined_math_reading_df

79.21648318952693

In [172]:
combined_math_reading_df["math_score"].count()

33610

In [173]:
pass_combined_math_reading_df = school_data_complete_df.loc[(school_data_complete_df["reading_score"]>=70) & (school_data_complete_df["math_score"]>=70)]
pass_combined_math_reading_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [196]:
pass_overall_df = pass_combined_math_reading_df["math_score"].count()
pass_overall_df

25528

In [175]:
fail_combined_math_reading_df = school_data_complete_df.loc[(school_data_complete_df["reading_score"]<70) & (school_data_complete_df["math_score"]<70)]
fail_combined_math_reading_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
37,37,Jesse Newton,M,10th,Huang High School,63,66,0,District,2917,1910635
100,100,Jose Gonzalez,M,12th,Huang High School,69,67,0,District,2917,1910635
118,118,Daniel Jones,M,12th,Huang High School,66,68,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37657,37657,Anthony Olson,M,9th,Thomas High School,69,69,14,Charter,1635,1043130
37670,37670,Brittany Brown,F,12th,Thomas High School,69,68,14,Charter,1635,1043130
38213,38213,Vicki Miller,F,10th,Thomas High School,69,68,14,Charter,1635,1043130
38679,38679,Travis Spencer,M,11th,Thomas High School,69,68,14,Charter,1635,1043130
39109,39109,Ernest Lawrence,M,11th,Thomas High School,69,69,14,Charter,1635,1043130

District Summary

In [194]:
reading_percent_df = (reading_pass_df/total_students)*100
reading_percent_df

85.80546336482001

In [192]:
maths_percent_df = (maths_df/total_students)*100
maths_percent_df

74.9808526933878

In [197]:
overall_df = (pass_overall_df/total_students)*100
overall_df

65.17232575950983

In [208]:
District_summary_df = pd.DataFrame([
    {"Total schools":15},
    {"Total students":39170},
    {"Total budget" : 24649428},
    {"Average math score": 78.9853},
    {"% passing math" : 74.9808},
    {"% passing reading" : 85.8055},
    {"Overall Passing": 65.1723}
])
District_summary_df.head(10)

,Total schools,Total students,Total budget,Average math score,% passing math,% passing reading,Overall Passing
0,15.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,39170.0,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,24649428.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,78.9853,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,74.9808,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,85.8055,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,65.1723

School summary

In [260]:
school_summary_df = school_data_complete_df[["school_name", "type", "reading_score", "math_score", "budget"]]
school_summary_df.head()

         school_name      type  reading_score  math_score   budget
0  Huang High School  District             66          79  1910635
1  Huang High School  District             94          61  1910635
2  Huang High School  District             90          60  1910635
3  Huang High School  District             67          58  1910635
4  Huang High School  District             97          84  1910635

In [263]:
school_summary_df.columns

Index(['school_name', 'type', 'reading_score', 'math_score', 'budget'], dtype='object')

In [301]:
df = school_summary_df.set_index("school_name")
df.head()

                       type  reading_score  math_score   budget
school_name
Huang High School  District             66          79  1910635
Huang High School  District             94          61  1910635
Huang High School  District             90          60  1910635
Huang High School  District             67          58  1910635
Huang High School  District             97          84  1910635

In [305]:
huang_df = df.loc["Huang High School"]
average = h_df[["reading_score", "math_score",]].mean()
average

reading_score    80.934412
math_score       77.289752
dtype: float64

In [306]:
huang_df = df.loc["Huang High School"]
huang_df

                       type  reading_score  math_score   budget
school_name
Huang High School  District             66          79  1910635
Huang High School  District             94          61  1910635
Huang High School  District             90          60  1910635
Huang High School  District             67          58  1910635
Huang High School  District             97          84  1910635
...                     ...            ...         ...      ...
Huang High School  District             98          95  1910635
Huang High School  District             64          81  1910635
Huang High School  District             66          73  1910635
Huang High School  District             70          85  1910635
Huang High School  District             82          73  1910635

[2917 rows x 4 columns]

In [309]:
huang_df = df.loc["Huang High School"]
b = huang_df[["budget"]].mean()
b

budget    1910635.0
dtype: float64

In [310]:
huang_df = df.loc["Huang High School"]
b = huang_df[["budget"]].mean()/2917
b

budget    655.0
dtype: float64

In [318]:
huangpm_df = huang_df.loc[(huang_df["math_score"]>=70)]
huangpm_df

                       type  reading_score  math_score   budget
school_name
Huang High School  District             66          79  1910635
Huang High School  District             97          84  1910635
Huang High School  District             94          94  1910635
Huang High School  District             82          80  1910635
Huang High School  District             95          87  1910635
...                     ...            ...         ...      ...
Huang High School  District             98          95  1910635
Huang High School  District             64          81  1910635
Huang High School  District             66          73  1910635
Huang High School  District             70          85  1910635
Huang High School  District             82          73  1910635

[1916 rows x 4 columns]

In [315]:
huang_pm = (1916/2917)*100
huang_pm

65.68392183750429

In [319]:
huangpr_df = huang_df.loc[(huang_df["reading_score"]>=70)]
huangpr_df

                       type  reading_score  math_score   budget
school_name
Huang High School  District             94          61  1910635
Huang High School  District             90          60  1910635
Huang High School  District             97          84  1910635
Huang High School  District             94          94  1910635
Huang High School  District             82          80  1910635
...                     ...            ...         ...      ...
Huang High School  District             80          77  1910635
Huang High School  District             94          95  1910635
Huang High School  District             98          95  1910635
Huang High School  District             70          85  1910635
Huang High School  District             82          73  1910635

[2372 rows x 4 columns]

In [320]:
huang_pr = (2372/2917)*100
huang_pr

81.31642098045938

In [283]:
Figueroa_df= df.loc["Figueroa High School"]
average =  Figueroa_df[["reading_score", "math_score"]].mean()
average

reading_score    81.158020
math_score       76.711767
dtype: float64

In [284]:
hernandez_df = df.loc["Hernandez High School"]
average =  hernandez_df[["reading_score", "math_score"]].mean()
average

reading_score    80.934412
math_score       77.289752
dtype: float64

In [285]:
griffin_df = df.loc["Griffin High School"]
average =  griffin_df[["reading_score", "math_score"]].mean()
average

reading_score    83.816757
math_score       83.351499
dtype: float64

In [286]:
shelton_df = df.loc["Shelton High School"]
average =  shelton_df[["reading_score", "math_score"]].mean()
average

reading_score    83.725724
math_score       83.359455
dtype: float64

In [288]:
wilson_df = df.loc[["Wilson High School"]]
average =  wilson_df[["reading_score", "math_score"]].mean()
average

reading_score    83.989488
math_score       83.274201
dtype: float64

In [289]:
cabrera_df = df.loc["Cabrera High School"]
average =  cabrera_df[["reading_score", "math_score"]].mean()
average

reading_score    83.975780
math_score       83.061895
dtype: float64

In [290]:
bailey_df = df.loc["Bailey High School"]
average =  bailey_df[["reading_score", "math_score"]].mean()
average

reading_score    81.033963
math_score       77.048432
dtype: float64

In [291]:
holden_df = df.loc["Holden High School"]
average =  holden_df[["reading_score", "math_score"]].mean()
average

reading_score    83.814988
math_score       83.803279
dtype: float64

In [292]:
pena_df = df.loc["Pena High School"]
average =  pena_df[["reading_score", "math_score"]].mean()
average

reading_score    84.044699
math_score       83.839917
dtype: float64

In [293]:
wright_df = df.loc["Wright High School"]
average =  wright_df[["reading_score", "math_score"]].mean()
average

reading_score    83.955000
math_score       83.682222
dtype: float64

In [294]:
rodriguez_df = df.loc["Rodriguez High School"]
average =  rodriguez_df[["reading_score", "math_score"]].mean()
average

reading_score    80.744686
math_score       76.842711
dtype: float64

In [295]:
johnson_df = df.loc["Johnson High School"]
average =  johnson_df[["reading_score", "math_score"]].mean()
average

reading_score    80.966394
math_score       77.072464
dtype: float64

In [296]:
ford_df = df.loc["Ford High School"]
average =  ford_df[["reading_score", "math_score"]].mean()
average

reading_score    80.746258
math_score       77.102592
dtype: float64

In [297]:
thomas_df = df.loc["Thomas High School"]
average =  thomas_df[["reading_score", "math_score"]].mean()
average

reading_score    83.848930
math_score       83.418349
dtype: float64